@import 'variable';
body {

    h1 {
        color: $red;
        font-weight: bold;
        background-color: $black;
        padding: 20px;
        margin: 0;

    }
    nav {
        ul {
            li {
                a,
                .dropdown-item {
                    color: $white;
                    font-weight: bold;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
        a {
            color: $white;
        }
    }
    .message-alert {
        display: none;
        position: fixed;
        background: transparent;
        top: 200px;
        left: 200px;
        font-size: 1.6em;
        border-radius: 5px;
        box-shadow: 0 3px 4px -1px $grey;
        &.error {
            background-color: white;
            color: #880000;
            z-index: 2;
        }
        &.success{
            background-color: white;
            color: #008810;
            z-index: 2;
            
        }
    }
    section {
        h2 {
            text-align: center;
            padding: 10px;
            border-bottom: 1px solid $black;
            box-shadow: 0px 2px 30px grey;
            span.encours {
                font-weight: bold;
                color: $green;
                text-shadow: 3px 0 5px $green;
            }
            span.fini {
                font-weight: bold;
                color: $red;
                text-shadow: 3px 0 5px $red;
            }
            span.enprepa {
                font-weight: bold;
                color: $orange;
                text-shadow: 3px 0 5px $orange;
            }
            span.normal {
                font-weight: bold;
                color: $grey;
                text-shadow: 0 0 1px $grey;
            }
        }
        & > div {
            display: flex;
            flex-wrap: wrap;


        }
        .description {
            display: block;
            width: 90%;
            max-width: 1460px;
            margin: auto;
            h4 {

                p {
                    width: 180px;
                    text-align: center;
                    position: relative;
                    left: -30%;
                    border-bottom: 2px solid $black;
                }
            }
            p {
                padding: 0 5px;
                font-size: 1.3em;
                text-align: justify;
                width: 100%;
                margin: auto;
                &:after {
                    content: " ";
                    display: block;
                    width: 100%;
                    height: 0px;
                    visibility: hidden;
                    opacity: 0;
                    clear: both;
                }
            }
            img {
                margin: 5px 20px 0 0;
                flex: 1 1 360px;
                max-width: 360px;
                height: auto;
            }
        }
        .regle,
        .duree,
        .prerequis,
        .overview {
            position: relative;
            overflow: hidden;
            flex: 1 1 500px;
            padding: 20px 30px;
            margin: 20px;
            border: 1px solid #b1b1b1;
            box-shadow: 0px 1px 0px $black;
            border-radius: 6px;
            align-self: center;
            min-height: 220px;
            transition: all 0.4s;
            cursor: default;
            &:hover {
                box-shadow: 0 17px 10px -7px $grey;
                transform: scale(1.025);
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: " ";
                min-width: 100%;
                min-height: 100%;
                background-size: cover;
                background-position: left;
                transition: all 0.4s;
                transform: scale(1.025);

            }

            &:hover:before {
                transform: scale(1);
            }
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                content: " ";
                min-width: 100%;
                min-height: 100%;
                opacity: .4;
                background-color: #fff;
                transition: all 0.6s;
            }

            &:hover:after {
                opacity: .8;
            }
            h5 {
                font-size: 1.5em;
                font-style: italic;
                position: relative;
                z-index: 1;
            }
            p,
            ul,
            ol {
                padding-left: 30px;
                margin-left: 0;
                position: relative;
                z-index: 1;
                width: 80%;
            }
        }

        .regle {
            &:before {
                background-image: url(../img/2f4542017-02_LWS3_Ep4_HomeBanner_Blank.jpg)
            }
            h5 {
                color: darken($green, 49%);
            }

        }
        .duree {
            &:before {
                background-image: url(../img/a256d2017-05_LWS3_Ep5_HomeBanner.jpg)
            }
            h5 {
                color: darken($blue, 60%);
            }
        }
        .prerequis {
            &:before {
                background-image: url(../img/cf4492017-06_Competitve_SummerUpdate_HB_Blank.jpg)
            }
            h5 {
                color: darken($red, 20%);
            }

        }
        section.selection {
            width: 98%;
            margin: auto;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .overview {
                @media screen and ( max-width: 680px) {
                    width:85%;
                    flex: 1 1 85%;
                    min-width: none;
                    max-width: none;
                }
                position: relative;
                flex: 1 1 280px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                transition: all 0.6s;
                text-align: center;
                min-width: 280px;
                max-width: 280px;
                cursor: pointer;
                &.finished::after {
                    opacity: .66;
                    background-color: rgba(0, 0, 0, 1);
                }
                &.finished {
                    transform: scale(1);
                    box-shadow: none;
                    cursor: help;
                }
                &.finished h5 {
                    opacity: .5;
                }
                h5 {
                    color: $white;
                    text-shadow: 0 0 5px $black;
                    background-color: rgba(10, 10, 10, 0.6);
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: -5px;
                    padding: 20px 0;
                    width: 100%;
                }
                &:after {
                    opacity: 0.1;
                }
                &:nth-child(even) {
                    flex: 2 2 200px;
                }

            }

        }

        &#participants {
            margin-bottom: 130px;

        }
        form {
            margin: 20px auto 0;
            & > * {
                display: inline-block;

            }
        }

    }

    .disabled {
        cursor: not-allowed;
        &:hover {
            color: #8c939b !important;
        }
    }

    .float-l {
        float: left;
    }

    #action {
        position: fixed;
        z-index: 100;
        bottom: 20px;
        right: 10px;
        padding: 0 10px;
        border-radius: 8px;
        button {
            font-size: 95%;
            display: block;
            width: 100%;
            margin: 10px 0;
            box-shadow: 2px 2px 3px #212121;
            &:active {

                box-shadow: -1px 0px 3px #212121;
            }
        }
    }

}
