@import 'variable';
body {

    h1 {
        color: $red;
        font-weight: bold;
        background-color: $black;
        padding: 20px;
        margin: 0;

    }
    nav {
        ul {
            li {
                a,
                .dropdown-item {
                    color: $white;
                    font-weight: bold;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
        a {
            color: $white;
        }
    }
    .message-alert {
        display: none;
        position: fixed;
        background: transparent;
        top: 200px;
        left: 200px;
        font-size: 1.6em;
        border-radius: 5px;
        box-shadow: 0 3px 4px -1px $grey;
        &.error {
            background-color: white;
            color: #880000;
            z-index: 2;
        }
        &.success {
            background-color: white;
            color: #008810;
            z-index: 2;

        }
    }


    .disabled {
        cursor: not-allowed;
        &:hover {
            color: #8c939b !important;
        }
    }

    .float-l {
        float: left;
    }



}
