body h1 {
  color: red;
  font-weight: bold;
  background-color: #242424;
  padding: 20px;
  margin: 0; }
body nav ul li a,
body nav ul li .dropdown-item {
  color: #eaeaea;
  font-weight: bold; }
  body nav ul li a:hover,
  body nav ul li .dropdown-item:hover {
    color: #eaeaea; }
body nav a {
  color: #eaeaea; }
body .message-alert {
  display: none;
  position: fixed;
  background: transparent;
  top: 200px;
  left: 200px;
  font-size: 1.6em;
  border-radius: 5px;
  box-shadow: 0 3px 4px -1px #898989; }
  body .message-alert.error {
    background-color: white;
    color: #880000;
    z-index: 2; }
  body .message-alert.success {
    background-color: white;
    color: #008810;
    z-index: 2; }
body section h2 {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #242424;
  box-shadow: 0px 2px 30px grey; }
  body section h2 span.encours {
    font-weight: bold;
    color: #a9f792;
    text-shadow: 3px 0 5px #a9f792; }
  body section h2 span.fini {
    font-weight: bold;
    color: red;
    text-shadow: 3px 0 5px red; }
  body section h2 span.enprepa {
    font-weight: bold;
    color: rgba(216, 116, 0, 0.69);
    text-shadow: 3px 0 5px rgba(216, 116, 0, 0.69); }
  body section h2 span.normal {
    font-weight: bold;
    color: #898989;
    text-shadow: 0 0 1px #898989; }
body section > div {
  display: flex;
  flex-wrap: wrap; }
body section .description {
  display: block;
  width: 90%;
  max-width: 1460px;
  margin: auto; }
  body section .description h4 p {
    width: 180px;
    text-align: center;
    position: relative;
    left: -30%;
    border-bottom: 2px solid #242424; }
  body section .description p {
    padding: 0 5px;
    font-size: 1.3em;
    text-align: justify;
    width: 100%;
    margin: auto; }
    body section .description p:after {
      content: " ";
      display: block;
      width: 100%;
      height: 0px;
      visibility: hidden;
      opacity: 0;
      clear: both; }
  body section .description img {
    margin: 5px 20px 0 0;
    flex: 1 1 360px;
    max-width: 360px;
    height: auto; }
body section .regle,
body section .duree,
body section .prerequis,
body section .overview {
  position: relative;
  overflow: hidden;
  flex: 1 1 500px;
  padding: 20px 30px;
  margin: 20px;
  border: 1px solid #b1b1b1;
  box-shadow: 0px 1px 0px #242424;
  border-radius: 6px;
  align-self: center;
  min-height: 220px;
  transition: all 0.4s;
  cursor: default; }
  body section .regle:hover,
  body section .duree:hover,
  body section .prerequis:hover,
  body section .overview:hover {
    box-shadow: 0 17px 10px -7px #898989;
    transform: scale(1.025); }
  body section .regle:before,
  body section .duree:before,
  body section .prerequis:before,
  body section .overview:before {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: left;
    transition: all 0.4s;
    transform: scale(1.025); }
  body section .regle:hover:before,
  body section .duree:hover:before,
  body section .prerequis:hover:before,
  body section .overview:hover:before {
    transform: scale(1); }
  body section .regle:after,
  body section .duree:after,
  body section .prerequis:after,
  body section .overview:after {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    min-width: 100%;
    min-height: 100%;
    opacity: .4;
    background-color: #fff;
    transition: all 0.6s; }
  body section .regle:hover:after,
  body section .duree:hover:after,
  body section .prerequis:hover:after,
  body section .overview:hover:after {
    opacity: .8; }
  body section .regle h5,
  body section .duree h5,
  body section .prerequis h5,
  body section .overview h5 {
    font-size: 1.5em;
    font-style: italic;
    position: relative;
    z-index: 1; }
  body section .regle p,
  body section .regle ul,
  body section .regle ol,
  body section .duree p,
  body section .duree ul,
  body section .duree ol,
  body section .prerequis p,
  body section .prerequis ul,
  body section .prerequis ol,
  body section .overview p,
  body section .overview ul,
  body section .overview ol {
    padding-left: 30px;
    margin-left: 0;
    position: relative;
    z-index: 1;
    width: 80%; }
body section .regle:before {
  background-image: url(../img/2f4542017-02_LWS3_Ep4_HomeBanner_Blank.jpg); }
body section .regle h5 {
  color: #26850a; }
body section .duree:before {
  background-image: url(../img/a256d2017-05_LWS3_Ep5_HomeBanner.jpg); }
body section .duree h5 {
  color: #007b92; }
body section .prerequis:before {
  background-image: url(../img/cf4492017-06_Competitve_SummerUpdate_HB_Blank.jpg); }
body section .prerequis h5 {
  color: #990000; }
body section section.selection {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  body section section.selection .overview {
    position: relative;
    flex: 1 1 280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.6s;
    text-align: center;
    min-width: 280px;
    max-width: 280px;
    cursor: pointer; }
    @media screen and (max-width: 680px) {
      body section section.selection .overview {
        width: 85%;
        flex: 1 1 85%;
        min-width: none;
        max-width: none; } }
    body section section.selection .overview.finished::after {
      opacity: .66;
      background-color: black; }
    body section section.selection .overview.finished {
      transform: scale(1);
      box-shadow: none;
      cursor: help; }
    body section section.selection .overview.finished h5 {
      opacity: .5; }
    body section section.selection .overview h5 {
      color: #eaeaea;
      text-shadow: 0 0 5px #242424;
      background-color: rgba(10, 10, 10, 0.6);
      position: absolute;
      width: 100%;
      left: 0;
      top: -5px;
      padding: 20px 0;
      width: 100%; }
    body section section.selection .overview:after {
      opacity: 0.1; }
    body section section.selection .overview:nth-child(even) {
      flex: 2 2 200px; }
    body section section.selection .overview.created h5:before {
      content: "my";
      font-size: 0.4em;
      vertical-align: top;
      color: #a9f792; }
body section#participants {
  margin-bottom: 130px; }
body section form {
  margin: 20px auto 0; }
  body section form > * {
    display: inline-block; }
body .disabled {
  cursor: not-allowed; }
  body .disabled:hover {
    color: #8c939b !important; }
body .float-l {
  float: left; }
body #action {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 10px;
  padding: 0 10px;
  border-radius: 8px; }
  body #action button {
    font-size: 95%;
    display: block;
    width: 100%;
    margin: 10px 0;
    box-shadow: 2px 2px 3px #212121; }
    body #action button:active {
      box-shadow: -1px 0px 3px #212121; }

/*# sourceMappingURL=stylise.css.map */
